body{
    background-color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#title{
    flex-direction: column;
    line-height: 10px;

}
li{
    display: inline-block;
    margin: 20px;
}

a{
    color: black;
    font-size: 15px;
    font-weight: bold; 
}

a:hover{
    color: #4A9BB4;
    transition: 0.3 all;
}

#inscreva-se-btn{
    border: 2px solid #4A9BB4;
    padding: 10px;
    border-radius: 5px;
}

#inscreva-se-btn:hover{
    background-color: #4A9BB4;
    color: white;
}

h1{
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
}
span{
    color:#4A9BB4;
}
p{
    line-height: 20px;
    max-width: 500px;
}
.signup-button{
    display: inline-block;
    background-color: #4A9BB4;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}
.signup-button:hover{
    background-color: #4A9BB4;
    color: white;
}
img{
    width: 600px;
}
